@import url('https://fonts.googleapis.com/css2?family=Asap:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'Asap', sans-serif;
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}